h1 {
    color: red;
}

.parrafo {
    background-color: yellow;
}

.azul {
    background-color: blue;
}

@media (max-width: 767px) {
    body {
        font-size: 44px!important;
    }
}

#id_url {
    width: 85%;
}